<div class="container">
    <div class="intro">
        <article class="post-wrap">
            <div class="post-content">
                <%- site.pages.findOne({ path: 'intro/index.html' }).content %>
                <div class="links">
                    <a class="link-item" title="Twitter" target="_blank" rel="noopener" href="https://twitter.com/24paginas">
                        <span class="icon"><%- fa_inline("twitter", { prefix: "fab" }) %></span>
                    </a>
                    <a class="link-item" title="Instagram" target="_blank" rel="noopener" href="https://instagram.com/24paginas">
                        <span class="icon"><%- fa_inline("instagram", { prefix: "fab" }) %></span>
                    </a>
                    <a class="link-item" title="Facebook" target="_blank" rel="noopener" href="https://www.facebook.com/24paginas">
                        <span class="icon"><%- fa_inline("facebook", { prefix: "fab" }) %></span>
                    </a>
                </div>
            </div>
        </article>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
