
:root
  --background-color #fff
  --font-color #424242
  --font-secondary-color #767676
  --navbar-active-color #424242
  --global-link-color #424242
  --global-link-hover-color #ea9700
  --emphasis-color #ff7c00
  --post-link-color #ffa500
  --post-link-hover-color #ff7430
  --pagination-link-color #ea9700
  --pagination-link-active-color #000
  --border-color #e8e8e8
  --code-font-color #c7254e
  --code-background-color #f8f5ec
  --post-blockquote-border-color var(--global-link-hover-color)
  --post-blockquote-background-color #fff5e3
  --post-table-background-color #ffe2ac

$background-color = var(--background-color)

$font-color = var(--font-color)
$font-secondary-color = var(--font-secondary-color)

$navbar-active-color = var(--navbar-active-color)

$global-link-color = var(--global-link-color)
$global-link-hover-color = var(--global-link-hover-color)

$emphasis-color = var(--emphasis-color)

// logo e53056

$post-link-color = var(--post-link-color)
$post-link-hover-color = var(--post-link-hover-color)

// ff7430
$pagination-link-color = var(--pagination-link-color)
$pagination-link-active-color = var(--pagination-link-active-color)

$border-color = var(--border-color)

$code-font-color = var(--code-font-color)
$code-background-color = var(--code-background-color)

$post-blockquote-border-color = var(--post-blockquote-border-color)
$post-blockquote-background-color = var(--post-blockquote-background-color)

$post-table-background-color = var(--post-table-background-color)

$basic-font-family = Poppins
