
<% if (post.media.length == 1) { %>

<% if (post.media[0].indexOf(".mp4") > -1) { %>
<video controls>
  <source src="<%= "/" + post.path + post.media[0] %>" type="video/mp4">
</video>
<% } else { %>
<img src="<%= "/" + post.path + post.media[0] %>">
<% } %>

<% } else { %>

<div class="post-gallery">

  <div class="slider-wrap">
    <ul class="slider">
      <% for (var i = 0; i < post.media.length; i++) { %>
        <li>
          <div>
            <% if (post.media[i].indexOf(".mp4") > -1) { %>
            <video controls>
              <source src="<%= "/" + post.path + post.media[i] %>" type="video/mp4">
            </video>
            <% } else { %>
            <img src="<%= "/" + post.path + post.media[i] %>">
            <% } %>
          </div>
        </li>
      <% } %>
    </ul>
        
    <!--controls-->
    <div class="btns next"><i class="fa fa-arrow-right"></i></div>
    <div class="btns previous"><i class="fa fa-arrow-left"></i></div>
    <div class="counter"></div>
    
    <div class="pagination-wrap">
      <ul>
      </ul>
    </div>
    <!--controls-->
  </div>

</div>

<% } %>
