<nav class="navbar">
  <div class="navbar-container">
    <div class="header-logo">
      <a href="/" rel="home">
        <img src="<%- url_for(theme.avatar, { ignore: true }) %>" alt="<%= config.title %>"></a>
    </div>
    <div class="menu">
      <a class="menu-item" href="/archives">Archivo</a>
      <a class="menu-item" href="/about">Acerca de...</a>
    </div>

  </div>
</nav>

<%# mobile %>
<nav class="navbar-mobile" id="nav-mobile">
  <div class="navbar-container">
    <div class="header-logo">
      <a href="/" rel="home">
        <img src="<%- url_for(theme.avatar, { ignore: true }) %>" alt="<%= config.title %>"></a>
    </div>
    <div class="menu-toggle" onclick="mobileBtn()">&#9776; menú</div>
    <div class="menu" id="mobile-menu">
      <a class="menu-item" href="/archives">Archivo</a>
      <a class="menu-item" href="/about">Acerca de...</a>
    </div>
  </div>
</nav>

<script>
  var mobileBtn = function f() {
    var toggleMenu = document.getElementsByClassName("menu-toggle")[0];
    var mobileMenu = document.getElementById("mobile-menu");
    if(toggleMenu.classList.contains("active")){
       toggleMenu.classList.remove("active")
      mobileMenu.classList.remove("active")
    }else{
      toggleMenu.classList.add("active")
      mobileMenu.classList.add("active")
    }
  }
</script>