
.sidebar
  width: 25%
  border-left 1px solid $emphasis-color
  padding-left 10px
  
  .post
    margin 0
    padding 0

    .post-content 
      h1::before,h2::before,h3::before
        content none
      h1,h2,h3
        color $emphasis-color
      img
        margin 20px auto 0
      p
        text-align center
      ul
        list-style-type none
        padding 0